<nav class="calendarNav">
   <button id="pm">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
         <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
      </svg>
   </button>
   <button id="nm">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
         <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
      </svg>
   </button>
</nav>
<div class="calendar"></div>
<section class="receivePlan">
   <button class="button nextButton">Next</button>
</section>
<script>
   const dates = "@ViewBag.dates".split(",")
   const names = "@ViewBag.names".split(",")
   const handleCerrar = '@Url.Action("HandleCreatePlan")';
   const endUrl = '@Url.Action("EndPlan")';
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/calendar.js"></script>