<link rel="stylesheet" href="~/css/config.css" />
<nav class="sidebar">
    <div class="profile">
        <img src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp"
            alt="Avatar">
        <h3 style="text-transform: capitalize;">@ViewBag.user.username</h3>
    </div>
    <ul class="menu">
        <li><a href='@Url.Action("ConfigurationProfile")'>Profile</a></li>
        <li><a href="#" class="active">Configuration</a></li>
        <li><a href='@Url.Action("ConfigurationNoti")'>Notifications</a></li>
        <li><a href='@Url.Action("ConfigurationLang")'>Language & region</a></li>
    </ul>
</nav>
<div class="main-content">
    <h1>Configuration</h1>
    <div class="input-group">
        <label>Appearance</label>
        <p>Customize the look of Xperience on your device.</p>
        <button>Use system settings</button>
    </div>
    <hr>
    <div class="input-group">
        <label>Start</label>
        <div class="input-group">
            <input type="checkbox">
            <p>Choose what to show when Xprience starts or when you change screens.</p>
            <button>Home page</button>
        </div>
    </div>
    <hr>
    <div class="input-group">
        <label>Date and time</label>
        <div class="input-group">
            <input type="checkbox" checked>
            <h5>Automatically set time zone based on my location</H5>
            <P>Reminders, notifications and emails will be sent taking into account
                count your time zone.</P>
        </div>
        <h5>Time zone</h5>
        <p>Current time zone: [GMT-03:00] America/Buenos Aires (GMT-3)</p>
    </div>
    <hr>
    <div class="input-group">
        <label>Privacy</label>
        <p>Customize cookies. See more details in the Cookie Notice</p>
        <button>Personalize</button>
    </div>
</div>