      <link rel="stylesheet" href="~/css/config.css" />
<nav class="sidebar">
            <div class="profile">
                <img src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp" alt="Avatar">
                <h3 style="text-transform: capitalize;">@ViewBag.user.username</h3>
            </div>
            <ul class="menu">
                <li><a href='@Url.Action("ConfigurationProfile")'>Profile</a></li>
                <li><a href='@Url.Action("ConfigurationConfiguration")'>Configuration</a></li>
                <li><a href="#" class="active">Notifications</a></li>
                <li><a href='@Url.Action("ConfigurationLang")'>Language & region</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <h1>Notifications</h1>
            
            <div class="input-group">
                <label>Email notifications</label>
                <p>Receive emails to stay up to date with activities and updates.</p>
            </div>
            
            <hr>
            
            <div class="input-group">
                <label>Activity on the page</label>
                <p>Receive messages about new interactions or experiences you've participated in.</p>
                <input type="checkbox" checked>
            </div>
            
            <hr>
            
            <div class="input-group">
                <label>Always send notifications</label>
                <p>Receive notifications even if you don't follow or use certain features frequently.</p>
                <input type="checkbox">
            </div>
            
            <hr>
            
            <div class="input-group">
                <label>Page Updates</label>
                <p>Receive a daily summary of recent updates to saved or interacted experiences.</p>
                <input type="checkbox" checked>
            </div>
            
        </div>