<link rel="stylesheet" href="~/css/config.css" />
<nav class="sidebar">
    <div class="profile">
        <img src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp"
            alt="Avatar">
        <h3 style="text-transform: capitalize;">@ViewBag.user.username</h3>
    </div>
    <ul class="menu">
        <li><a href='@Url.Action("ConfigurationProfile")'>Perfil</a></li>
        <li><a href='@Url.Action("ConfigurationConfiguration")'>Configuración</a></li>
        <li><a href='@Url.Action("ConfigurationNoti")'>Notificaciones</a></li>
        <li><a href="#" class="active">Idioma y región</a></li>
    </ul>
</nav>
<div class="main-content">
    <h1>Idioma y región</h1>
    <hr>
    <div class="input-group language-selection">
        <div>
            <h5>Idioma</h5>
            <p>Elige el idioma que te gusta</p>
        </div>
        <form>
            <label for="language">Idioma:</label>
            <select id="language" name="language" style="padding: 5px;">
                <option value="es">Español</option>
                <option value="en">Inglés</option>
                <option value="fr">Francés</option>
                <option value="de">Alemán</option>
            </select>
        </form>
    </div>
</div>