<link rel="stylesheet" href="~/css/config.css" />
<nav class="sidebar">
    <div class="profile">
        <img src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp"
            alt="Avatar">
        <h3 style="text-transform: capitalize;">@ViewBag.user.username</h3>
    </div>
    <ul class="menu">
        <li><a href='@Url.Action("ConfigurationProfile")'>Perfil</a></li>
        <li><a href="#" class="active">Configuración</a></li>
        <li><a href='@Url.Action("ConfigurationNoti")'>Notificaciones</a></li>
        <li><a href='@Url.Action("ConfigurationLang")'>Idioma y región</a></li>
    </ul>
</nav>
<div class="main-content">
    <h1>Configuración</h1>
    <div class="input-group">
        <label>Apariencia</label>
        <p>Personaliza el aspecto de Xperience en tu dispositivo.</p>
        <button>Usar la configuración del sistema</button>
    </div>
    <hr>
    <div class="input-group">
        <label>Inicio</label>
        <div class="input-group">
            <input type="checkbox">
            <p>Elige qué mostrar cuando Xprience se inicie o cuando cambies de pantalla.</p>
            <button>Página de inicio</button>
        </div>
    </div>
    <hr>
    <div class="input-group">
        <label>Fecha y hora</label>
        <div class="input-group">
            <input type="checkbox" checked>
            <h5>Establecer automáticamente la zona horaria según mi ubicación</H5>
            <P>Los recordatorios, las notificaciones y correos electrónicos se enviarán teniendo en
                cuenta tu zona horaria.</P>
        </div>
        <h5>Zona horaria</h5>
        <p>Zona horaria actual: [GMT-03:00] América/Buenos Aires (GMT-3)</p>
    </div>
    <hr>
    <div class="input-group">
        <label>Privacidad</label>
        <p>Perzonaliza las cookies. Consulta más dettales en el Aviso sobre cookies</p>
        <button>Personalizar</button>
    </div>
</div>