      <link rel="stylesheet" href="~/css/config.css" />
<nav class="sidebar">
            <div class="profile">
                <img src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp" alt="Avatar">
                <h3 style="text-transform: capitalize;">@ViewBag.user.username</h3>
            </div>
            <ul class="menu">
                <li><a href='@Url.Action("ConfigurationProfile")'>Perfil</a></li>
                <li><a href='@Url.Action("ConfigurationConfiguration")'>Configuración</a></li>
                <li><a href="#" class="active">Notificaciones</a></li>
                <li><a href='@Url.Action("ConfigurationLang")'>Idioma y región</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <h1>Notificaciones</h1>
            
            <div class="input-group">
                <label>Notificaciones por correo electrónico</label>
                <p>Recibe correos electrónicos para mantenerte al tanto de las actividades y actualizaciones.</p>
            </div>
            
            <hr>
            
            <div class="input-group">
                <label>Actividad en la página</label>
                <p>Recibe mensajes sobre interacciones o experiencias nuevas en las que has participado.</p>
                <input type="checkbox" checked>
            </div>
            
            <hr>
            
            <div class="input-group">
                <label>Enviar siempre notificaciones</label>
                <p>Recibe notificaciones aunque no sigas o uses ciertas funciones frecuentemente.</p>
                <input type="checkbox">
            </div>
            
            <hr>
            
            <div class="input-group">
                <label>Actualizaciones de la página</label>
                <p>Recibe un resumen diario de las actualizaciones recientes en las experiencias guardadas o con las que interactuaste.</p>
                <input type="checkbox" checked>
            </div>
            
        </div>