<link rel="stylesheet" href="~/css/chart.css">
<section class="flexSection">
    <div class="points">
        <h1>Welcome <span class="xColored">Ian</span></h1>
        <p>X points to reach your next level</p>
        <div class="item html">
            <h2>ASD</h2>
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <title>Layer 1</title>
                    <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="20" stroke="#38bd7d"
                        fill="none" />
                </g>
            </svg>
        </div>
    </div>
    <div>
        <h4 class="rp">Categories</h4>
    </div>
</section>
<section class="bgSection">
    <div>
        <h1><span class="xColored">Create</span> plan now</h1>
        <a href='@Url.Action("CreateCategories")' class="button notBefore">Create</a>
    </div>
</section>
<h4 class="rp">Folders</h4>
<h4 class="rp">Latest plans</h4>