<section class="folderSection">
    <h1>Folders</h1>
    <div class="folders">
        <a href='@Url.Action("")' style="all:unset; cursor:pointer;">
            <div class="folder">
                <div class="imgContainer">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <h2>Created</h2>
            </div>
        </a>
    </div>
</section>