<section class="receivePlan">
   <div class="items">
      <template id="itemTemplate">
         <div class="item">
            <div>
               <h3>Title</h3>
               <!-- <p>09:00 - 10:00</p> -->
               <input type="time" class="receiveTime" onchange="handleChangeTime(this)" />
            </div>
            <button class="edit">
               <img src="~/img/svg/edit.svg" alt="" />
            </button>
            <button class="delete">
               <img src="~/img/svg/delete.svg" alt="" />
            </button>
         </div>
      </template>
   </div>
   <div class="map"></div>
</section>
<section class="receivePlan">
   <button class="button nextButton">Next</button>
</section>
<script>
    const handleDetails = '@Url.Action("HandleDetails")';
    const calendar = '@Url.Action("Calendar")';
    const categorie = '@ViewBag.categorie';
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/receivePlan.js" ></script>