<section class="receivePlan">
   <div class="items">
      <template class="itemTemplate">
         <div class="item">
            <div>
               <h3>Title</h3>
               <p>09:00 - 10:00</p>
            </div>
            <button class="edit">
               <img src="img/edit.svg" alt="" />
            </button>
            <button class="delete">
               <img src="img/delete.svg" alt="" />
            </button>
         </div>
      </template>
      <div class="item">
         <div>
            <h3>La fonte D'Oro</h3>
            <p>09:00 - 10:00</p>
         </div>
         <button class="edit">
            <img src="img/edit.svg" alt="" />
         </button>
         <button class="delete">
            <img src="img/delete.svg" alt="" />
         </button>
      </div>
      <div class="item">
         <div>
            <h3>La fonte D'Oro</h3>
            <p>09:00 - 10:00</p>
         </div>
         <button class="edit">
            <img src="img/edit.svg" alt="" />
         </button>
         <button class="delete">
            <img src="img/delete.svg" alt="" />
         </button>
      </div>
      <div class="item">
         <div>
            <h3>La fonte D'Oro</h3>
            <p>09:00 - 10:00</p>
         </div>
         <button class="edit">
            <img src="img/edit.svg" alt="" />
         </button>
         <button class="delete">
            <img src="img/delete.svg" alt="" />
         </button>
      </div>
   </div>
   <div class="map"></div>
</section>
<section class="receivePlan">
   <a href="" class="button nextButton">Next</a>
</section>