@{
   Layout = "~/Views/Shared/_Layout2.cshtml";
}
            <div>
               <h1>Sign up</h1>
               <form action = '@Url.Action("GetSignup")' method="POST">
               <div class="inputGroup">
                  <label for="username">Username</label>
                  <br />
                  <input type="text" name="name" id="username" />
               </div>
               <div class="inputGroup">
                  <label for="mail">Mail</label>
                  <br />
                  <input type="text" name="mail" id="mail" />
               </div>
               <div class="inputGroup">
                  <input type="checkbox" name="eye" id="eye" />
                  <label for="eye"></label>
                  <label for="password">Password</label>
                  <br />
                  <input type="text" name="password" id="password" />
               </div>
               <div class="inputGroup rPassword">
                  <label for="verifyPassword">Repeat Password</label>
                  <br />
                  <input type="text" name="verifyPassword" id="verifyPassword" />
               </div>
               <input type="submit" value="Sign up" />
               </form>
            </div>
            <section class="info">
               <div class="slide">
                  <div class="carrousel">
                     <div class="carrouselItem">
                        <img src="img/Navigation.svg" alt="" width="400px" />
                        <h2>Check your plans</h2>
                        <p>
                           En Xprience tenemos el valor trascendental y que
                           atraviesa al mundo.
                        </p>
                     </div>
                     <div class="carrouselItem">
                        <img src="img/Navigation.svg" alt="" width="400px" />
                        <h2>Check your plans</h2>
                        <p>
                           En Xprience tenemos el valor trascendental y que
                           atraviesa al mundo.
                        </p>
                     </div>
                     <div class="carrouselItem">
                        <img src="img/Navigation.svg" alt="" width="400px" />
                        <h2>Check your plans</h2>
                        <p>
                           En Xprience tenemos el valor trascendental y que
                           atraviesa al mundo.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="status">
                  <div
                     class="statusItem"
                     style="
                        animation: changeMarked 10s linear infinite;
                        animation-delay: 0;
                     "
                  ></div>
                  <div
                     class="statusItem"
                     style="
                        animation: changeMarked 10s linear infinite;
                        animation-delay: 3333ms;
                     "
                  ></div>
                  <div
                     class="statusItem"
                     style="
                        animation: changeMarked 10s linear infinite;
                        animation-delay: 6666ms;
                     "
                  ></div>
               </div>
            </section>
         